.kms-main {
  text-align: justify;
  direction: rtl;
  font-family: IranSans;
  padding-top: 25px;
  min-height: 650px;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}

h4 {
  text-align: right;
  padding-bottom:10px;
}

.kms-news-post {
  border: 1px solid;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}


td p {
  text-align: center;
}

.kms-main  ul {
  line-height: 35px;
}

.kms-main p {
  line-height: 35px;
}
