<footer class="footer stepper-horizontal">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md-4 col-sm-3  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">تماس با ما</h5>
        <!--<p class="mb10"> تهران، آرژانتین، بلوار افریقا، ساختمان راه آهن ، طبقه 14، دفتر مدیریت پروژه </p>-->
        <p><i class="fas fa-location-arrow"></i> تهران،  میدان آرژانتین، بلوار آفریقا، ساختمان راه آهن ، طبقه 14، دفتر مدیریت پروژه </p>
        <p><i class="fas fa-phone"></i> 021-55127485 دبیرخانه (تماس تا 12 ظهر)</p>
        <p><i class="fas fa-phone"></i> 021-88205843 مدیریت سایت </p>
        <p><i class="fas fa-envelope"></i> pmo.railway@gmail.com </p>


      </div>


      <div class=" col-sm-4 col-md-4  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">لینک های مرتبط</h5>
        <ul class="footer_ul_amrc">
          <li><a href="http://rai.ir" target="_blank">راه آهن جمهوري اسلامي ايران</a></li>
          <li><a href="http://pmo.rai.ir" target="_blank">سامانه مدیریت پروژه راه آهن  ج.ا.ا</a></li>
          <li><a href="http://modares.ac.ir" target="_blank">دانشگاه تربیت مدرس</a></li>
        </ul>
      </div>


      <div class=" col-sm-4 col-md-4  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">لینک های سریع</h5>
        <ul class="footer_ul_amrc">
          <li><a (click)="onClickNormalPage('posts')">درس آموخته ها</a></li>
          <li><a (click)="onClickNormalPage('posts')">پرسش ها</a></li>
          <li><a (click)="onClickNormalPage('posts')">پاسخ ها</a></li>
        </ul>
      </div>

    </div>
  </div>


  <div class="container">
    <!--<ul class="foote_bottom_ul_amrc">-->
      <!--<li><a (click)="onClickNormalPage('')">صفحه اصلی</a></li>-->
      <!--<li><a (click)="onClickNormalPage('')">درباره ما</a></li>-->
      <!--<li><a (click)="onClickNormalPage('')">خدمات</a></li>-->
      <!--<li><a (click)="onClickNormalPage('')">پرسش های متداول </a></li>-->
      <!--<li><a (click)="onClickNormalPage('')">قوانین</a></li>-->
      <!--<li><a (click)="onClickItem(14)">تماس با ما</a></li>-->
    <!--</ul>-->
    <p class="text-center" style="direction: rtl">کپی رایت 2019@ | کلیه حقوق مادی و معنوی این سایت متعلق به <a href="http://pmo.rai.ir" target="_blank">دفتر مدیریت پروژه معاونت فنی و زیر بنایی راه آهن ج.ا.ا</a> می باشد. </p>
    <p class="text-center" style="direction: rtl">v1.2.4</p>

    <ul class="social_footer_ul">
      <li><a (click)="onClickNormalPage('')"><i class="fab fa-facebook-f"></i></a></li>
      <li><a (click)="onClickNormalPage('')"><i class="fab fa-twitter"></i></a></li>
      <li><a (click)="onClickNormalPage('')"><i class="fab fa-linkedin"></i></a></li>
      <li><a (click)="onClickNormalPage('')"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>

</footer>
