<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form [formGroup]="formGp" *ngIf="checking && criterias">
      <div class="row">
        <div class="col-md-6" *ngFor="let crs of formArr;let i = index">
          <div formArrayName="Criterias">
            <div class="form-group">
              <mat-form-field>
                <mat-select class="form-control" [formControlName]="i" [placeholder]="criterias[i].Title" required>
                  <mat-option *ngFor="let score of scores" [value]="score">
                    {{ score }}
                  </mat-option>
                </mat-select>
                <mat-error style="text-align: right;" *ngIf="formGp.get('Criterias').controls[i].hasError('required')">
                  * وارد کردن این فیلد الزامی می باشد<strong>!</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
                      <textarea
                        class="form-control"
                        matInput
                        matTextareaAutosize
                        matAutosizeMinRows="3"
                        matAutosizeMaxRows="8"
                        formControlName="Desc"
                        placeholder="متن نظر داور">
            </textarea>
              <mat-error style="text-align: right;" *ngIf="formGp.get('Desc').hasError('required')">
                * وارد کردن این فیلد الزامی می باشد<strong>!</strong>
              </mat-error>
              <mat-error style="text-align: right;" *ngIf="formGp.get('Desc').hasError('minlength')">
                * حداقل 20 کاراکتر وارد نمایید<strong>!</strong>
              </mat-error>
              <mat-error style="text-align: right;" *ngIf="formGp.get('Desc').hasError('maxlength')">
                * حداکثر 2000 کاراکتر وارد نمایید<strong>!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top 10px">
        <div class="col-md-12">
          <p>
            <span>امتیاز نهایی داور : </span>
            <span style="color: #1c7430;">{{ getSum() }}</span>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button class="btn btn-primary" (click)="onSubmit()" style="width: 100%">ثبت نهایی امتیاز داوری</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
