.kms-list-item {
  font-family: IranSans;
  direction: rtl;
  text-align: justify;
}

.row {
  direction: rtl;
  text-align: justify;
  font-family: IranSans;
}

h2 {
  font-family: IranSans;
  text-align: center;
  direction: rtl;
  padding: 10px 25px;
}

a {
  color: #007bff !important;
  cursor: pointer;
}
