<div style="min-height: 650px;">
  <mat-card class="kms-mat-card-basic" *ngIf="post">
    <div class="row" style="text-align: right;direction: rtl">
      <div class="col-md-12">
        <h2>
          <span style="font-size: 21px;color: #75847b;cursor: default;">{{ post.PostType }} : </span>
          <span (click)="onPostClick('post', post.ID)" style="color: #425961;cursor: pointer;">{{ post.Title }}</span>
          <!--<span (click)="onPostClick('post/edit', post.ID)" class="kms-post-edit">-->
            <!--<i class="fas fa-pencil-alt"></i>-->
          <!--</span>-->
        </h2>
      </div>
      <div class="col-md-12">
        <h5>
          <span style="color: #75847b;">نویسنده اصلی : </span>
          <span style="color: #425961;">{{ post.Author }}</span>
          <div class="row" style="float: left;">
            <div class="col-md-6" style="margin: 0;padding: 0;">
                <i (click)="onLikeClick()" class="far fa-heart" *ngIf="!isLiked"></i>
                <i (click)="onLikeClick()" class="fas fa-heart" *ngIf="isLiked"></i>
            </div>
            <div class="col-md-6" style="margin: 0;padding: 0;">
              <span style="margin-left: 8px" class="kms-likes" *ngIf="likes !== 0">{{ likes }}</span>
            </div>
          </div>
        </h5>
      </div>
    </div>
    <hr>
    <div class="row" style="direction: rtl">
      <div class="col-md-9" *ngIf="postDesc" style="direction: rtl;text-align: justify;line-height: 35px;">
        <div [innerHTML]="postDesc.FullDescription"></div>
      </div>
      <div class="col-md-3">
        <table class="table table-bordered" style="border: 1.5px solid #425961!important;">
          <tbody>
          <tr>
            <th>تاریخ ایجاد :</th>
            <td>{{ post.CreatedDate }}</td>
          </tr>
          <tr>
            <th>نویسندگان :</th>
            <td>
              <div><p style="font-weight: bold;">{{ post.Author }}</p></div>
              <div *ngFor="let author of post.Authors"><p *ngIf="author !== post.Author">{{ author }}</p></div>
            </td>
          </tr>
          <tr>
            <th>محور درس آموخته :</th>
            <td>{{ post.LessonLearnedTopic.Title }}</td>
          </tr>
          <tr>
            <th>مرحله درس آموخته :</th>
            <td *ngIf="postDesc">{{ postDesc.LessonLearnedStep.Title }}</td>
          </tr>
          <tr>
            <th>نوع عملیات :</th>
            <td>{{ post.OperationKind.Title }}</td>
          </tr>
          <tr>
            <th>امتیاز داوری :</th>
            <td *ngIf="post.MainScore !== null">{{ post.MainScore }}</td>
            <td *ngIf="post.MainScore === null">داوری نشده</td>
          </tr>
          <!--<tr>-->
            <!--<th>تعداد بازدید :</th>-->
            <!--<td>220</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<th>تعداد لایک :</th>-->
            <!--<td>150</td>-->
          <!--</tr>-->
          <tr>
            <th>قرارداد :</th>
            <td *ngIf="post.KMSContract.ID"><a (click)="onClickItem(post.KMSContract.ID, post.KMSContract.Title)">{{ post.KMSContract.Title }}</a></td>
            <td *ngIf="post.Contract.ID"><a (click)="onClickItem(post.Contract.ID, post.Contract.Title)">{{ post.Contract.Title }}</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>
  <mat-card class="kms-mat-card-desc" *ngIf="isJudge">
    <app-kms-judge-form [post]="post" [user]="judgeId" [myJudge]="myJudge"></app-kms-judge-form>
  </mat-card>
  <mat-card class="kms-mat-card-desc" *ngIf="post">
    <div class="row" *ngIf="postDesc">
      <div class="col-md-12">
        <mat-tab-group>
          <mat-tab [label]="tabs[0]">
            <div class="innerClass" [innerHTML]="postDesc.Story"></div>
          </mat-tab>
          <mat-tab [label]="tabs[2]">
            <div class="innerClass" [innerHTML]="postDesc.FullDescription"></div>
          </mat-tab>
          <mat-tab [label]="tabs[1]">
            <div class="innerClass" [innerHTML]="postDesc.ProposedSolution"></div>
          </mat-tab>
          <mat-tab [label]="tabs[5]">
            <!--<p style="color:#da345a;text-align: justify; direction: rtl;font-family: IranSans;">این بخش بزودی قابل بهره برداری می باشد!</p>-->
            <ul id="myUL" style="padding-top: 20px;" *ngIf="documents">
              <li *ngFor="let document of documents" style="cursor: pointer;font-family: IranSans">
                <a [href]="'http://rpmo.rai.ir/Docs/kms/_layouts/15/download.aspx?SourceUrl=' + document.ServerRelativeUrl" target="_blank">{{ document.Name }}</a>
              </li>
            </ul>
          </mat-tab>
          <mat-tab [label]="tabs[3]">
            <div class="row" style="direction: rtl;margin: 0;">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <button class="btn btn-primary" style="width: 100%;" (click)="onAddComment()">افزودن نظر جدید</button>
              </div>
            </div>
            <app-kms-comment *ngFor="let comment of comments" [postID]="post.ID" [comment]="comment"></app-kms-comment>
          </mat-tab>
          <!--<mat-tab [label]="tabs[3]"> <ngx-kms-comment [postID]="post.ID"></ngx-kms-comment> </mat-tab>-->
          <mat-tab [label]="tabs[4]">
            <mat-list role="list" *ngIf="questionAndAnwsers">
              <mat-list-item *ngFor="let questionAndAnwser of questionAndAnwsers;let i = index" role="listitem">
                <p class="kms-list-item">{{ i + 1 + '. ' }}<a (click)="onPostClick('post/QA', questionAndAnwser.QuestionAndAnswer.ID)">{{ questionAndAnwser.QuestionAndAnswer.Title }}</a></p>
              </mat-list-item>
            </mat-list>
            <p *ngIf="questionAndAnwsers.length === 0" style="color:#da345a;text-align: justify; direction: rtl;font-family: IranSans;">
              <span>در حال حاضر پرسشی مرتبط ثبت نشده است،</span>
              <span> برای افزودن پرسش مرتبط با این درس آموخته بر روی </span>
              <a (click)="onPostClickPage('QA')">ایجاد پرسش</a>
              <span> کلیک نمایید.</span>
            </p>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card>
</div>
